
/* XL */

@media(max-width:1399px){
	.container{
		max-width:1140px;
	}
	
	/* HEADER	 */
	
	header nav{
		display:none;
	}
	header nav ul{
		padding:10px;
		background-color:skyblue;
		margin:0;
	}
	.toggle{
		display:block;
	}
	nav ul li{
		padding:5px;
		margin:5px;
	}

}

/* LG */

@media(max-width:1199px){

}

/* MD */

@media(max-width:991px){

	.w-md-2{
		width: 50%;
	}
	.w-md-3{
		width: 33.33%;
	}

	/* CATEGORIES */

	.categories-items .w-3:last-child img{
		margin-top: 20px;
	}

	.featured-img .w-4:nth-child(4) .featured-items{
		margin-top: 40px;
	}

	.testimonial-inner .w-3:last-child .testimonial-items{
		margin-top: 30px;
	}

	.footer .w-4:last-child .footer-items{
		margin-top: 30px;
	}

		
}

/* SM */

@media(max-width:767px){
	.container{
		max-width:540px;
	}
	.w-sm-1{
		width: 100%;
	}
	.w-sm-2{
		width:50%;
	}


	.featured-img .w-4:nth-child(3) .featured-items{
		margin-top: 40px;
	}

	.testimonial-inner .w-3:nth-child(2) .testimonial-items{
		margin-top: 30px;
	}

	.footer .w-4:nth-child(3) .footer-items{
		margin-top: 30px;
	}
}

/* XS */

@media(max-width:575px){
	.container{
		max-width:100%;
	}

	.w-xs-1{
		width: 100%;
	}
	
	/* CATEGORIES */

	.categories-items .w-3:nth-child(2) img{
		margin-top: 20px;
	}

	.featured-img .w-4:nth-child(2) .featured-items{
		margin-top: 40px;
	}

	.footer .w-4:nth-child(2) .footer-items{
		margin-top: 30px;
	}
}