*{
    margin:0;
	padding:0;
	box-sizing:border-box;
}
:root{
	--theme-white:white;
	--theme-black:black;
    --bg-color: #ffd6d6;
    --text-color: #555;
    --theme-btn:#ff523b;
}
img{
	display:block;
}
ul, ol{
	list-style:none;
}
a{
	text-decoration:none;
	display:inline-block;
}
body{
	font-family: 'Jost';
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.d-flex{
	display:flex;
}
.row{
	display:flex;
	flex-wrap:wrap;
}
.relative{
	position:relative;
}
.justify-between{
	justify-content:space-between;
}
.align-items-center{ 
	align-items:center;
}
.w-2{
	width:50%;
}
.w-3{
	width:33.33%;
}
.w-4{
	width:25%;
}
.w-5{
	width:20%;
}
.w-60{
	width:60%
}
.w-40{
	width:40%;
}
.text-center{
	text-align:center;
}
.theme-btn{
    background: var(--theme-btn);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

/* HEADER */



 nav li a{
	color:#555;
	font-weight:500;
	font-size:18px;
}
nav ul li{
	padding:25px 0;
	margin-right:25px;
}


/* FEATURED */


.featured-items{
    margin:0 10px;
    margin-top: 70px;
}
.featured-img i{
    color: var(--theme-btn);
}
.featured-items h4{
    color:var(--text-color);
    font-size: 18px;
    padding-top: 7px;
    font-weight: 400;
}
.featured-items p{
    color: var(--text-color);
    padding-top: 5px;
}
.featured-title{
    margin-top: 70px;
}
.featured-title select{
    height: 30px;
    border: 1px solid var(--theme-btn);
}

.latest-items{
    margin:0 10px;
    margin-top: 70px;
}
.latest-img i{
    color: var(--theme-btn);
}
.latest-items h4{
    color:var(--text-color);
    font-size: 18px;
    padding-top: 7px;
    font-weight: 400;
}
.latest-items p{
    color: var(--text-color);
    padding-top: 5px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid var(--theme-btn);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}
.page-btn span:hover{
    background-color: var(--theme-btn);
    color: var(--theme-white);
}
.page-btn{
    margin-top: 50px;
    margin-bottom: 70px;
}

/* FOOTER */

.footer{
    background-color: var(--theme-black);
    color: #8a8a8a;
    padding-top: 70px;
    
}
.footer .footer-items img{
    display: inline;
}
.footer-items h3{
    color: var(--theme-white);
    padding-bottom: 15px;
}
.footer-items p{
    max-width: 400px;
    padding-bottom: 15px;
}
.footer-items{
    padding: 0 20px;
}
.footer .w-4:nth-child(2) .footer-items{
    padding: 30px;
}
.footer .w-4:nth-child(2) .footer-items img{
    display: block;
    margin: auto;
}
.footer .w-4:nth-child(2) .footer-items p{
    margin-top: 15px;
    text-align: center;
    max-width: 400px;
}
.footer .w-4:nth-child(3) .footer-items li, .footer .w-4:last-child .footer-items li, .footer .w-4:last-child .footer-items h3, .footer .w-4:nth-child(3) .footer-items h3{
   text-align: center;
}

.copyright{
    border-top:1.5px solid #fff;
    margin-top: 35px;
    padding-bottom: 20px;
}
.copyright p{
    padding-top: 10px;
    text-align: center;
}
